---
import Layout from "@/layouts/Layout.astro"
import Body from "@/layouts/Body.astro"
import ButtonWelcome from "@/components/ButtonWelcome.svelte"
import PlayTetoBirthday from "@/components/PlayTetoBirthday.svelte"
import AllButtonNav from "@/components/AllButtonNav.astro"
import ButtonModal from "@/components/ButtonModal.astro"
import CardMusic from "@/components/CardMusic.astro"
import { MUSIC_TITLE, MUSIC_P_1, MUSIC_P_2 } from "astro:env/client"
import { ROUTES } from "@/config.ts"
---

<Layout>
	<div class="hidden">
		<ButtonWelcome client:load src="" transition:name="media-player" transition:persist />
	</div>

	<Body>
		<section class="flex justify-center gap-2">
			<ButtonModal PopoverTarget="modal-page-1" gradient1="#9500ff" gradient2="#0099ff" gradient3="#00DDff">
					<div class="container-teto">
					<video 
						id="teto-video" 
						src={`${ROUTES.ROOT}/videos/kasane-teto.mp4`} 
						poster={`${ROUTES.ROOT}/imgs/kasane-teto.avif`}
						muted 
						class="kasane-teto-media"
					></video>
					</div>
				<PlayTetoBirthday client:load targetSelector="#teto-video" />
			</ButtonModal>
		</section>

		<CardMusic>
			<article>
				<h1 class="text-center text-[1.3rem] mb-3 text-blue-500 font-bold"> { MUSIC_TITLE } </h1>
				<p>{MUSIC_P_1}</p>
				<p>{MUSIC_P_2}</p>
			</article>
		</CardMusic>

		<AllButtonNav src1={ROUTES.PRESENTATION} src2={ROUTES.CRAFT} />
	</Body>
</Layout>
<style>
	.container-teto {
		max-width: 400px;
		width: 95vw;
		height: auto;
		max-height: 80dvh;
	}
	.kasane-teto-media {
		max-width: 100%;
		height: auto;
		mask-image: linear-gradient(
			#000 80%,
			transparent
		);
	}
	article {

		& p {
			margin-block: 1lh;
		}
		& p:last-child {
			margin-block: 0;
		}
	}
</style>
